/*
MFILEMON - print to file with automatic filename assignment
Copyright (C) 2007-2023 Lorenzo Monti

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 3
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*/

#include <windows.h>
#include "..\common\version.h"

#if (!defined(MFILEMONLANG) || MFILEMONLANG == 0x0409)
#include "..\common\comstrings.en"
#endif

#if (MFILEMONLANG == 0x0410)
#include "..\common\comstrings.it"
#endif

/*
*    VERSION INFORMATION
*
*/
1       VERSIONINFO
        FILEVERSION             nVersion
        PRODUCTVERSION          nVersion
        FILEFLAGSMASK           0x3fL
#ifdef _DEBUG
        FILEFLAGS               VS_FF_DEBUG
#else
        FILEFLAGS               0x0L
#endif
        FILEOS                  VOS__WINDOWS32
        FILETYPE                VFT_DLL
        FILESUBTYPE             0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
#if (!defined(MFILEMONLANG) || MFILEMONLANG == 0x0409)
    BLOCK "04090000"
#endif
#if (MFILEMONLANG == 0x0410)
	BLOCK "04100000"
#endif
    BEGIN
      VALUE "Comments", szComments
      VALUE "CompanyName", "Lorenzo Monti\0"
      VALUE "FileDescription", "Multi file port monitor\0"
      VALUE "FileVersion", szVersion
      VALUE "InternalName", "MFILEMON\0"
      VALUE "LegalCopyright", "Copyright © 2007-2023 Lorenzo Monti\0"
      VALUE "LegalTrademarks", "\0"
      VALUE "OriginalFilename", "MFILEMON.DLL\0"
      VALUE "PrivateBuild", "\0"
      VALUE "ProductName", "MFILEMON\0"
      VALUE "ProductVersion", szVersion
      VALUE "SpecialBuild", "\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
#if (!defined(MFILEMONLANG) || MFILEMONLANG == 0x0409)
    VALUE "Translation", 0x409, 0x0L
#endif
#if (MFILEMONLANG == 0x0410)
    VALUE "Translation", 0x410, 0x0L
#endif
  END
END
